.container{
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.card-text{
  color: #FFFF00;
}

.card-title{
  color: #FFFF00;
}

.card{
  background-color: transparent;
}

.Card{
  justify-content: center;
}